@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  height: 100%;
}

@layer components {
  .spinner {
    margin: 3.2rem auto 1.6rem;
    width: 60px;
    aspect-ratio: 1;
    border-radius: 50%;
    border: 8px solid #1b2631;
    border-right-color: "#B7C7D7";
    animation: rotate 1s infinite linear;
  }

  .spinner-mini {
    margin: 0;
    width: 20px;
    aspect-ratio: 1;
    border-radius: 50%;
    border: 2px solid "#B7C7D7";
    border-right-color: transparent;
    animation: rotate 1s infinite linear;
  }

  .btn-radiant {
    background: linear-gradient(
      45deg,
      #1e40af,
      #1d4ed8,
      #2563eb,
      #3b82f6,
      #60a5fa
    );
    background-size: 200% 200%;
    animation: gradient-animation 4s ease infinite;
  }
  @keyframes gradient-animation {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }

  @keyframes rotate {
    to {
      transform: rotate(1turn);
    }
  }
}
